div {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 100px auto 30% 1fr;
    align-items: center;
    background-color: lightcyan;
    color: pink;
    width: 50%;
    height: 90px;
    margin: 10px;
}

h1: {
    color: purple;

}
h1:hover {
     color: blue;
    }
