div {
    display: grid;
    grid-template-columns: 100px auto 30% 1fr;
    grid-template-rows: 100px auto 30% 1fr;
    align-items: center;
    background-color: lightcyan;
    color: black;
    width: 75%;
    height: 100px;
    margin: 20px;
}

p: {
    color: black;

}
p:hover {
     color: red;
    }